.padre{
    position: relative;
    top: 56px;
    border: 1px solid red;
    display: flex;
}


.estiloLink{
  text-decoration: none;  
  color:rgb(255, 255, 255);
  margin-left: 5px;
}

.estiloNav{
    background-color:rgba(22, 22, 23, .8) ;
    position: fixed;
    width: 100%;
    z-index: 2; 
}


.lenceria{
    background-color: whitesmoke;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.arneses{
    background-color: rgb(190, 130, 52);
    justify-content: space-around;
    align-items: center;
}